@charset "UTF-8";
/* css/ src/ layout_002 */

#wrap {width:1280px;width:120rem;  height:auto; 
  min-height:2000px;min-height:125rem; margin:auto;
 
}

/* // #wrap ======================== */
#headBox {position:relative;
  width:100%; height:300px; height:12.5rem;
  background-color: var(--color-navy2);
background-color:var(--color-white);}

h1 {position:absolute; top:30px; left:721px;
  width:400px; height:auto; min-height:50px;
background-image:url("../../img/logo.png");
background-repeat:no-repeat;
background-position:50% 50%;
background-size:cover;  }

.navibox {width:100%; height:100%;}

.usernavi_area { position:absolute; top:0;right:0;
width:400px; height:50px; color:var(--color-navy3); padding:20px;}
.usernavi_area li { margin:auto; font-family: 'S-CoreDream_3';
   text-transform: uppercase; 
  float:left; width:100px; height:100%; }

.gnbnavi_area {position:absolute; bottom:0;left:0; z-index: 200;
  width:100%; height:100px; margin:auto; 
border-top:3px solid var(--color-primary);  }
.gnbnavi_area li {float:left; padding-right:200px; font-family: 'S-CoreDream_6';
  box-sizing:border-box; font-size:var(--font-size2); text-transform: uppercase; 
margin-top:30px; color:var(--color-navy3); }
.gnbnavi_area li:nth-child(1){padding-left:250px; box-sizing:border-box;}
.gnbnavi_area li:last-child { padding-right:0;}


/* // #headBox ============================================*/

#small_view { width:100%; height:496px; 
background-image:url("../../img/bg/turntable_bg_001.jpg");
background-position:90% 40%; background-size:100%;
margin-bottom:120px;}

.small_view_con {width:450px;height:280px; margin-left:150px;}
.small_view_con div {padding:180px; font-size:50px; font-family: 'S-CoreDream_6';
  text-transform: uppercase;line-height: 1.4;
color:var(--color-primary);  }
.small_view_area {width:100%; height:110px; margin-top:105px;
background-color:rgba(0,0,0,0.7);}

.small_view_area ul {width:600px; height:70px; padding:19px 0 19px 30px;}



/* // #small_view ========================================== */

#company_ex {width:1000px; height:1926px;
 margin:auto; margin-bottom:60xp;}

.company_narr1 {width:100%; height:100%; }

.company_narr1 dt:nth-child(1) { width:100%; 
  height:200px; margin-bottom:30px; padding-top:100px; 
  box-sizing:border-box; text-align: center; font-family: 'S-CoreDream_6';
  text-transform: uppercase;line-height: 1.4; font-size:var(--font-size4);}
.company_narr1 dd:nth-child(2) {width:100%;
  height:960px; margin-bottom:30px;
  background-image:url("../../img/soundlook/turntable_002.jpg");
background-size:cover;}
.company_narr1 dd:nth-child(3) {width:100%; line-height:35px;
  height:100px; margin-bottom:120px; 
  font-size:var(--font-size2);
  font-family: 'S-CoreDream_3';
  text-transform: uppercase; }
.company_narr1 dd:nth-child(4) {width:100%; height:500px; 
  margin-bottom:30px; line-height:35px; 
  font-size:var(--font-size2);
  font-family: 'S-CoreDream_3';
  text-transform: uppercase;}    

/* // #company_narr1 ====================== */

#company_narr2 {width:100%; height:800px; margin-top:100px;
background-color:var(--color-navy2); margin:auto; }

.narr_area1 {float:left; width:900px; height:100%;
   margin:0 30px 0 50px; padding-top:20px; box-sizing: border-box;}

.narr_area1 ul >li:nth-child(1) {width:100%; height:450px;
background-image:url("../../img/soundlook/turntable_013.jpg");
background-size:cover; background-position: 50% 70%; 
}
.narr_area1 ul >li:nth-child(2) {width:100%; height:120px;
font-size:45px; color:#fff; padding:25px 25px 0 25px;
font-family: 'S-CoreDream_6';}
.narr_area1 ul >li:nth-child(3) {width:100%; height:200px;
 color:#fff;  padding:0 25px 0 25px;
 line-height:35px; font-size:var(--font-size2);font-family: 'S-CoreDream_3';
 text-transform: uppercase;}


.narr_area2 {float:left;width:900px; height:100%;
  padding-top:20px; box-sizing: border-box;}
.narr_area2 ul >li:nth-child(1) {width:100%; height:450px;
  background-image:url("../../img/bg/turntable_bg_003.jpg");
  background-size:100%; background-position: 80% 70%; 
  }
.narr_area2 ul >li:nth-child(2) {width:100%; height:120px;
  font-size:45px; color:#fff; padding:25px 25px 0 25px;
  font-family: 'S-CoreDream_6';}
.narr_area2 ul >li:nth-child(3) {width:100%; height:200px;
 color:#fff;  padding:0 25px 0 25px;
 line-height:35px; font-size:var(--font-size2);font-family: 'S-CoreDream_3';
 text-transform: uppercase;}



/* // #company_narr2 ===================== #*/

#awards {width:100%;height:auto;min-height:500px; 
margin-top:150px;}

h3 { width:550px; height:100px; border-bottom: 2px solid var(--color-primary);
margin:auto; font-size:40px; font-weight: 700; padding-left:50px;
font-family: 'S-CoreDream_6';}

.awards_02 { width:1300px; height:1266px; margin:auto;
background-image:url("../../img/awards.jpg");}

/* // #awards =========================*/ 

#footBox {width:100%; height:800px; 
margin-top:68px;}

.site_infomation {width:100%; height:400px;background-color:var(--color-primary); }

.cs_area {float:left; 
  width:420px; height:100%; margin-right:60px; margin-left:80px;
  font-size:var(--font-size3);font-family: 'S-CoreDream_3'; }

.cs_area h3 {width:100%; height:90px; padding-top:40px; box-sizing:border-box;
  border-bottom:3px solid var(--color-navy2); font-size:40px; color:var(--color-navy3);
  font-family: 'S-CoreDream_6';text-transform: capitalize; }

.cs_area p:nth-of-type(1) { margin: 30px;font-size:20px;font-family: 'S-CoreDream_3';}
.cs_area p:nth-of-type(2) { margin:10px 0 20px 20px; font-weight: 800; font-size:60px;
  font-family: 'S-CoreDream_6';}
.cs_area p:nth-of-type(3) { margin: 20px;font-size:20px;line-height:35px;
  font-family: 'S-CoreDream_3';}

.bank_area {float:left;  width:320px; height:100%; margin-right:60px; }
.bank_area h3 {width:100%; height:90px; padding:40px 0 5px; box-sizing:border-box;
  border-bottom:3px solid var(--color-navy2); font-size:28px; color:var(--color-navy3);
  text-transform: capitalize;font-family: 'S-CoreDream_6';}
.bank_area p {margin: 20px;font-size:20px;line-height:45px;
  font-family: 'S-CoreDream_3'; }

.mp_area {float:left; width:180px; height:100%; margin-right:60px;
  font-size:var(--font-size3);font-family: 'S-CoreDream_3';text-transform: capitalize;} 

.mp_area h3 {width:100%; height:90px; padding:40px 0 5px; box-sizing:border-box;
  border-bottom:3px solid var(--color-navy2); font-size:28px; color:var(--color-navy3);
  text-transform: capitalize;font-family: 'S-CoreDream_6';}
.mp_area p { margin: 20px;font-size:20px;line-height:45px;
  font-family: 'S-CoreDream_3'; }
  
.community_area {float:left;  width:300px; height:100%; margin-right:60px; }   
.community_area h3 {width:100%; height:90px; padding:40px 0 5px; box-sizing:border-box;
  border-bottom:3px solid var(--color-navy2); font-size:28px; color:var(--color-navy3);
  text-transform: capitalize;font-family: 'S-CoreDream_6';}
.community_area  p:nth-of-type(1) { float:left; font-family: 'S-CoreDream_3'; 
  margin: 20px;font-size:20px;line-height:45px; }    
.community_area  p:nth-of-type(2) {float:left; font-family: 'S-CoreDream_3'; 
  margin: 20px;  font-size:20px;line-height:45px; } 
  
.snsnavi_area { float:left; width:250px; height:100%; }
.snsnavi_area h3 {width:100%; height:90px; padding:40px 0 5px; box-sizing:border-box;
    border-bottom:3px solid var(--color-navy2); font-size:28px; color:var(--color-navy3);
    text-transform: uppercase;font-family: 'S-CoreDream_6';}

.snsnavi_area li {float:left; width:50px; height:50px;  margin:15px; }

.snsnavi_area li a {display:block; width:100%; height:100%;}
.snsnavi_area li a i {display:block; width:100%; height:100%;
font-size:30px; margin-top:20px;} 

  /* ========================================================== */ 
.company_infomation {width:100%; height:400px;background-color:var(--color-navy3);}
.user_direction {width:100%; height:50px; padding:60px 0 50px 80px;; box-sizing:border-box;
  font-size:var(--font-size1);font-family: 'S-CoreDream_3'; }
.user_direction li {float:left; width:140px; height:30px;  }
.user_direction >li a {display:block;color:#fff;
  font-size:var(--font-size1);font-family: 'S-CoreDream_3'; }
.user_direction li:nth-child(3) {margin-left:70px;}
.user_direction li:nth-child(6) {width:500px;}
.user_direction >li > button {display:block; width:160px;height:30px; 
  background-color:#fff;font-size:var(--font-size1);font-family: 'S-CoreDream_3';}

.company_address {width:100%; height:100px; padding:30px 0 0;  
  color:#fff; line-height:35px;font-size:var(--font-size1);font-family: 'S-CoreDream_3';
}

.company_infomation p { width:100%; height:20px; color:#fff;
  padding:60px 0 0 80px;font-size:var(--font-size1);font-family: 'S-CoreDream_3';}